{{ define "createCard" }}
<div id="taskEditor" class="panel editor-panel" hx-swap-oob="outerHTML">
  <div class="panel-header">
    <h3>Configuration</h3>
  </div>
  <div class="panel-content">

    <form id="taskForm">
      <label>Title</label>
      <input name="title" type="text" placeholder="e.g. Memory leak investigation">

      <label>Status</label>
      <select name="status">
        <option selected="">Todo</option>
        <!-- <option>Blocking</option> -->
        <option>In Progress</option>
        <option>Validation</option>
        <option>Live</option>
      </select>
      <div class="select-container">
        <label>Assignee</label>
        <select name="assignees" multiple>
          <option value="">Unassigned</option>
          {{range .Users}}
          <option value="{{ .Name }}">{{ .Name }}</option>
          {{end}}
        </select>
      </div>

      <label>Deadline</label>
      <input name="deadline" type="datetime-local">

      <input type="hidden" id="event-type" name="event-type" value="create">
      <button id="taskForm" type="button" ws-send>Update Coordinate State</button>
  </div>
  </form>
</div>
{{ end }}
