<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <form hx-post="/submit" hx-trigger="submit" hx-target="#result" hx-swap="innerHTML">
    <label>
      Name:
      <input type="text" name="user" required>
    </label>
    <label>
      Password:
      <input type="Password" name="password" required>
    </label>
    <button type="submit">Submit</button>
  </form>

  <div id="result"></div>
<button hx-get="/" hx-target="body" hx-swap="outerHTML">Home</button>
</body>
</html>
